.error-box {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.error-header {
  width: 100%;
  background-color: red;
  height: 5rem;
  display: grid;
  place-content: center;
}
.alert-icon {
  width: 24px;
  height: 24px;
  transform: scale(2);
  fill: #fff;
}
.error-message {
  padding: 1.5rem 1.5rem;
  text-align: center;
}
.error-buttons {
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
}
.error-btn--yes {
  color: white;
  background-color: red;
  padding: 0.3rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}
.error-btn--no {
  color: #777;
  background-color: #eee;
  padding: 0.3rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}
