.new-task__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}
.new-task__form * {
  font-family: Arial, Helvetica, sans-serif;
}
.new-task__title {
  border: none;
  width: 100%;
  display: block;
  color: #0078d7;
}
.new-task__title:focus-visible {
  outline: none;
}
.new-task__title::placeholder {
  color: red;
}
.new-task__buttons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin: 0 auto;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 1.5rem 1rem;
  transition: 0.5s;
}
.new-task--add,
.new-task--dell,
.new-task--cancel {
  border: none;
  color: white;
  padding: 0.5rem 0.7rem;
  cursor: pointer;
  background-color: #0078d7;
  user-select: none;
}
.new-task--dell {
  background-color: rgb(209, 50, 50);
}
.new-task--cancel {
  background-color: rgb(119, 119, 119);
}
.new-task--date {
  border: none;
  border-radius: 5px;
  color: #0078d7;
}
.new-task--date:focus-visible {
  outline: none;
}
.new-task__section {
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 0.8rem 0;
  margin: 0rem auto;
  width: 90%;
}

.new-task__icon {
  margin: 0 1rem;
  fill: #999;
  transform: scale(0.8);
}
.new-task__description {
  border: none;
  height: 5rem;
  color: #0078d7;
}

.new-task__category {
  border: none;
  color: #0078d7;
  border-bottom: 1px solid #0078d7;
}
.new-task__comp-date {
  font-size: 0.8rem;
  margin-top: 5px;
  color: #777;
}
.new-task__repeat {
  width: 2.5rem;
  border: none;
  color: #0078d7;
  border-bottom: 1px solid #0078d7;
  margin: 0 6px;
}
.new-task__repeat-period {
  border: none;
  color: #0078d7;
  border-bottom: 1px solid #0078d7;
}
.new-task__repeat-text {
  font-size: 0.7rem;
  color: #777;
  margin-top: 5px;
}
.new-task__repeat-cancel {
  margin-left: 0.5rem;
  fill: #777;
  transform: scale(0.6);
  cursor: pointer;
}
.creation-date {
  font-size: 0.9rem;
  color: #888;
  margin: 0 auto;
}
