.header {
  background: #0078d7;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.header h1 {
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
  margin: 0 2rem;
}

.theme {
  font-size: 1.4rem;
  margin: 0 2rem;
}
.theme-icon {
  transform: scale(0.8);
  fill: white;
  opacity: 0.8;
  cursor: pointer;
}
