.search-box {
  display: flex;
  align-items: center;
  max-width: 20rem;
  margin-right: 2rem;
}

.search-input {
  border: none;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  padding: 0.5rem;
  padding-left: 2.3rem;
  /* max-width: 10rem; */
  width: 100%;
}
.search:focus-visible {
  outline: none;
}
.hide {
  display: none;
}
.search-icon {
  fill: #fff;
  transform: scale(0.7);
  cursor: pointer;
}
.move-left {
  margin-left: 0.5rem;
  fill: #0078d7;
  position: absolute;
}

@media screen and (max-width: 500px) {
  .search-box {
    max-width: 10rem;
    margin-right: 1rem;
  }
}
