.App {
  background-color: #f3f2f1;
}
.main {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 4rem);
}
.lists {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem 3rem;
}
.box {
  width: 20rem;
  background-color: #eee;
  padding: 1rem;
}
